    		
    		<div ng-include="'views/navigation.html'"></div>

    		<!--  Header and QUESTION Count  -->    		
    		    		
    		<div ng-controller="questionCtrl">
			<div class="jumbotron text-center">
				<h1>Analytics Questions<span class="label label-info"> {{ questions.length }} </span></h1>	
			</div>
					
			<!--  FORM TO CREATE QUESTIONS  -->

			<div class="row">

			    	<!-- SIDE NAVIGATION BAR -->

				<div class="container-fluid text-center">
					<div class="row-content">
						<div class="col-sm-2 sidenav">
						<p><a href="#">Link</a></p>
						<p><a href="#">Link</a></p>
						<p><a href="#">Link</a></p>
						</div>
					</div>		
				</div>	
				<div class="col-sm-6 col-sm-offset-2 text-center">
					<form>
						<div class="form-group">

							<!--  BIND THIS VALUE TO formData.text IN ANGULAR  -->

							<h4><span class="label label-info">Question Category</span></h4>
							<input type="text" class="form-control input-sm text-center" placeholder="Enter Question Category" ng-model="formData.QuestCateg">
							<h4><span class="label label-info">Question Diffculty Category</span></h4>
							<input type="text" class="form-control input-sm text-center" placeholder="Enter Question Difficulty Category" ng-model="formData.QuestDCateg">
							<h4><span class="label label-info">Question</span></h4>
							<input type="text" class="form-control input-sm text-center" placeholder="Enter Question Text" ng-model="formData.QuestTxt">
							<h4><span class="label label-info">Answer</span></h4>						
							<input type="text" class="form-control input-sm text-center" placeholder="Enter Answer" ng-model="formData.AnswerTxt">

						</div>
						
						<!--  createTodo function WILL CREATE NEW TODOS  -->

						<button type="submit" class="btn btn-primary btn-lg" ng-click="createQuestion()"> Add Questions</button>
						<button type="button" class="btn btn-primary btn-lg" ng-click="listQuestions()">Search Questions</button>
						<table class="table table-bordered">								
							<thead>
								<tr>
									<th>Question Category</th>				
									<th>Question D Level</th>							
									<th>Question</th>								
									<th>Answer</th>
								</tr>
							</thead>
							<tbody>										
								<tr ng-repeat="question in questions | orderBy: 'QuestCateg'">				
									<td>{{ question.QuestCateg }}</td>
									<td>{{ question.QuestDCateg }}</td>
									<td>{{ question.QuestTxt }}</td>
									<td>{{ question.AnswerTxt}}</td>					
								</tr>									
							</tbody>
						</table>				
					</form>
				</div>
			</div>
	    	</div>
    	</div>	