<div class="container-full">
<div class="jumbotron4">
    <img src="images/balls_glass_shape_size_surface_19943_1366x768.jpg" width="100%" height="500px;">
    </div>
<div class="container">
    <h2>Articles</h2>
    <br>
    <div class="struct3">
    <div class="row">
   <div class="col-sm-6">
        <a href="http://www.kudwi.com/2016/08/23/rio-olympic-gold-medals/">
             <h4><b><font color="black">Olympic gold medals have almost zero gold in them</font></b></h4>
            <img src="images/olympic-medals-metal.jpg" width="70%" ><br>
      </a>
       <p><font color="grey">By Admin-AUG 12, 2016- 0</font></p>
       <p>The 2016 Rio Summer Olympic Games are already 51% over budget, with <br> the total cost expected to be...</p>
        </div>
        <div class="col-sm-6">
        <a href="http://www.kudwi.com/2016/08/17/usainbolt/"> 
            <h4><b><font color="black">Usain ST.Lec Bolt</font></b></h4>
            
      <img src="images/UBfinish.jpg" width="70%" ><br>
           </a>
             <p><font color="grey">By Admin-AUG 12, 2016 0</font></p>
            <p>The Jamaican global icon recovered from a sluggish start to run down<br> his US rival...</p>
        </div>
    </div><br>
    <div class="row">
    <div class="col-sm-6">
       <a href="http://www.kudwi.com/2016/03/21/march-has-max-movie-releases-any-economic-component/">
         <h4><b><font color="black"> March has Maximum Movie Releases. Any Specific Reason?</font></b></h4>   
        <img src="images/Untitled1-copy.jpg" width="70%"><br>
       </a>
         <p><font color="grey">By Admin-AUG 12, 2016 0</font></p>
        <p>Tamil Cinema, also known as kollywood, is one of the largest movie production...</p>
        </div>
        <div class="col-sm-6">
        <a href="http://www.kudwi.com/2016/03/17/women-representation-in-tn-indian-politics/">
        <h4><b><font color="black">A look into women representation in TN & Indian Politics</font></b></h4>    
        <img src="images/Genderwise-data2.jpg" width="70%" ><br>
            </a>
            <p><font color="grey">By admin-12, 2016 0</font></p>
            <p>The percentage of elected female MLA’s in Tamilnadu is very dismal...</p>
            <!--<span class="meta-item author">By <a href="http://analyticsindiamag.com/author/naeem-shaikhflytxt-com/" title="Posts by Abhay Doshi" rel="author">Abhay Doshi</a></span><time datetime="2016-08-24T06:18:30+00:00" itemprop="datePublished" class="meta-item">Aug 24, 2016</time><span class="meta-item comments"><a href="http://analyticsindiamag.com/population-estimation-gets-dynamic-granular-telco-data/#respond"><i class="fa fa-comments-o"></i> 0</a></span>-->
        </div>
    </div><br>
    </div></div>
