

<div class="container-fill">

<div class="jumbotron1">
  <!--<img src="images/05_book_1.jpg" width="100%" height="100%">-->
    <h1><font color= "white">Contact Us</font></h1>
    </div>
   <div class="container">
       
       <form id="contact-form" method="post" action="contact.php" role="form">

    <div class="messages"></div>

    <div class="controls">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Firstname *</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="text"  name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_number">Phone</label>
                    <input id="form_number" type="tel"   name="phone" class="form-control" placeholder="Please enter your phone" >
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_subject">Subject</label>
                    <input id="form_subject" type="text" class="form-control" placeholder="Please enter your subject">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12 ">
                <input type="submit" class="btn btn-success btn-send" value="Submit">
            </div>
        </div><br>
        
    </div>

</form> 
   <!-- <div class="well">
<h2>Get in Touch</h2>
   <p> Fields marked with an * are required</p> 
    <div class=form-inline>
    <label>Name*</label>
    <input type="text" class="input-lg text-center" >
    </div><br>
    <div class=form-inline>
    <label>Email*</label>
        <input type="email" class="input-lg text-center"></div><br>
    <div class=form-inline>
    <label>Mobile Number</label>
        <input type="number" class="input-lg text-center"></div><br>
    <div class=form-inline>
    <label>subject</label>
        <input type="tel" class="input-lg text-center"></div><br>
    <div class=form-inline>
    <label>Message*</label>
        <input type="text" class=" input input-lg text-center"></div><br>
    <button class="pagging-button">submit</button>
       </div></div>-->
</div>
    <!--<div class="col-md-6">
        <h3>Feedback</h3>
        <div class=form-inline>
    <label>Name</label>
    <input type="text" class="text">
    </div><br>
        <div class=form-inline>
    <label>Email</label>
    <input type="email" class="text">
    </div><br>
        <div class=form-inline>
    <label>Comments</label>
    <input type="text" class="message">
    </div><br>
        <button>submit</button>
        </div></div></div>-->


