<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->
<div class="container-full">
	<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item" style="">
    <img src="images/481558.jpg">
            
            
        </div>
        <div class="item active">
            <img src="images/r1.jpg" alt="" class="">
            
        </div>
        <div class="item" style="">
            <img src="images/cubes_spheres_flying_explosion_47712_1366x768.jpg" alt="" class="">
            
            </div>
        </div>
        

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>

    
<!--courses -->
    <div class="container">
         <div class="style2">
             
        <div class="col-lg-10-offset-1 text-center">
            <h2>TRAINING</h2>
        <hr class="section-heading-spacer" width="20%"></div>
<div class="row">
             <div class="col-sm-4">
    <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="images/processor_cpu_upgrade_installation_chip_robot_5633_1920x1200.jpg" width="100%" alt="Card image cap"></a>
  <div class="card-block">
    <p class="card-text">R Training</p>
  </div>
                </div>
   
              </div>
    <div class="col-sm-4">
    <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="images/robot_rendering_police_105307_1920x1080.jpg" width="100%"  alt="Card image cap" ></a>
  <div class="card-block">
    <p class="card-text">Machine learning Training</p>
  </div>
                </div>
    
    </div>
    <div class="col-sm-4">
    <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="images/tablet_smart_phone_hi_tech_icons_hand_96123_1366x768.jpg" width="100%" alt="Card image cap" ></a>
  <div class="card-block">
    <p class="card-text">Tableau Training</p>
        </div></div></div>
        
             </div>
             <div class="row">
                 <div class="col-sm-4">
    <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="images/tablet_smart_phone_hi_tech_icons_hand_96123_1366x768.jpg" width="100%" alt="Card image cap" ></a>
  <div class="card-block">
    <p class="card-text">SQL Training</p>
        </div></div>
    
    </div><div class="col-sm-4">
    <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="images/tablet_smart_phone_hi_tech_icons_hand_96123_1366x768.jpg" width="100%" alt="Card image cap" ></a>
  <div class="card-block">
    <p class="card-text">SaaS Training</p>
        </div></div>
    
    </div><div class="col-sm-4">
    <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="images/tablet_smart_phone_hi_tech_icons_hand_96123_1366x768.jpg" width="100%" alt="Card image cap" ></a>
  <div class="card-block">
    <p class="card-text">Training</p>
        </div></div>
    
    </div>
            </div>
    </div>            
    </div>
    
<!--<div class="container" id="con1">
<h1> TRANING PROGRAM </h1>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4">
                    <a href="images/r.jpg" class="portfolio-box">
                        <img src="images/r.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>-->
<!--<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
        <div class="panel-body"> <img src="images/r.jpg" class="img-responsive" style="width:100%" alt="Image"> </div>
        <div class="panel-footer"> <p>R TRAINING</p></div>
     
     
        </div></div>-->
   <!-- <div class="col-sm-4">
        <div class="panel panel-default">
        
      <div class="panel-body"><img src="images/ml.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer"> <p>MACHINE LEARNING TRAINING</p></div>
        </div></div>
    <div class="col-sm-4">
         <div class="panel panel-default">
             <div class="panel-body"><img src="images/tab.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
             <div class="panel-footer"><p>TABLEAU TRAINING</p></div>
       
    </div> 
              </div>
          
        </div></div></section>-->

 <!--- video--->
    
    
  <div class="style3" >
      <div class="container">
           <!--<embed width="420" height="345" src="https://www.youtube.com/watch?v=s8t8FYmFQr4">-->
<div class="row">
 <div class="video" > 
<div class="col-md-6">
<iframe width="500" height="300" src="https://www.youtube.com/embed/s8t8FYmFQr4" frameborder="0" allowfullscreen></iframe>
     </div>
    <div class="col-md-6">
<iframe width="500" height="300" src="https://www.youtube.com/embed/7mQ0XJd5m-U?feature=oembed" frameborder="0" allowfullscreen></iframe>
     </div></div></div>
    
 <!--<div class="crack">   
<div class="col-md-6" >
    <div class="row">
     <div class="col-md-6-offset-1 ">
     
        
    <div class="clearfix"></div>
   <h2>CRACK ANALYTICS</h2>
         <hr class="section-heading-spacer" width="20%"></div>
<ul class="list_unstyled">
<li>Making the most of your marketting efforts</li>
<li>Dissceting google search engine</li>
<li>Surveying user</li>
<li>Instrumenting site search</li>
</ul>
    </div></div>
  </div>-->
  </div>
      </div>
    <!--test-->
   <!-- <div class="container-fluid">
        <div class="row">
        <div class="col-md-4">
            <img src="images/p1.jpg">
            </div><div class="col-md-4"><h1> Testimonial</h1></div>
        <div class="col-md-4">
            <img src="images/p2.jpg"></div></div>
    
        
    </div>-->
    <!-- <section id="test" class="testi">
       
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <hr class="section-heading-spacer" width="20%">
                    
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-2">
                    <div class="test-member">
                        <img src="images/cumbria_england_sky_mountain_cloud_106217_1920x1080.jpg" class="img-responsive" alt="" width="100%" height="100%" class="nospace" >
                        <h5 >Paul Arun</h5>
                        <p1 class="text-muted">CEO</p1>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-2">
                    <div class="test-member">
                        <img src="images/fog_trees_forest_thicket_84863_1920x1080.jpg" class="img-responsive" alt="" width="100%" height="100%" class="nospace">
                        <h5>Joyce Paul</h5>
                        <h6>CEO</h6>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-2">
                    <div class="test-member">
                        <img src="images/mountains_lake_trees_road_110898_1920x1080.jpg" class="img-responsive" alt=""width="100%" height="100%" class="nospace" >
                        <h5>Daniel</h5>
                        <p1 class="text-muted">Lead Developer</p1>
                        
                    </div>
                </div>
            </div>
        
    </section>-->
     <div class="banner1">
      <div class="style5" id="con3"> 
          <h1>Looking for Job</h1>
          <a ng-href="#/job"><font color="black">Click Here</font></a>
       </div></div>
    
    
    
    
<div class="style4" id="s1"
     style="height: 600px;">
    <div class="col-lg-10-offset-1 text-center">
    <h2>Testimonial</h2>
    <hr class="section-heading-spacer" width="20%">
    <div class="container">
<div class="row">
                    <div class="col-md-12" data-wow-delay="0.2s">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <br>
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
                                </li>
                                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
                                </li>
                            </ol>

                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner text-center">

                                <!-- Quote 1 -->
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">

                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>

                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
</div>

    
   
    </div></div>

   <div class="banner">
      <div class="style1" id="con2">
          <a ng-href="#/contact"> <h1>Let's Get in Touch</h1></a>
       </div></div>
   
     </div>
        
