<div class="container-fluid">
	<div class="row qbankdiv" ng-controller="qbankCtrl">
		<div class="col-sm-4">
			<button type="button" class="btn btn-primary btn-sm">R</button>
			<button type="button" class="btn btn-primary btn-sm">SAS</button>
			<button type="button" class="btn btn-primary btn-sm">Tableau</button>
			<button type="button" class="btn btn-primary btn-sm">Enter 1</button>
			<button type="button" class="btn btn-primary btn-sm">Enter 2</button>
			<button type="button" class="btn btn-primary btn-sm">Enter 3</button>
			<button type="button" class="btn btn-primary btn-sm">Enter 4</button>
		</div>
		<div class="col-sm-8">
			<h1> You are Here </h1>
			<h1> You are Here </h1>
			<h1> You are Here </h1>
			<h1> You are Here </h1>
			<div ng-repeat="question in questions">
				{{ question.QuestTxt }}
				{{ question.AnswerTxt }}
			</div>		
		</div>

	</div>
</div>