<div class="container qbankpage" ng-controller="qbankCtrl">
	<div class="row content qbankdiv " >
		<div class="col-sm-2 sidenav">
			<div class="list-group text-center">
				<button type="button" class="list-group-item list-group-item-info qbank-button" ng-click="rQuestion()">R</button>
				<button type="button" class="list-group-item list-group-item-info qbank-button" ng-click="mlQuestion()">Machine Learning</button>
				<button type="button" class="list-group-item list-group-item-info qbank-button" ng-click="tabQuestion()">Tableau</button>
				<button type="button" class="list-group-item list-group-item-info qbank-button" ng-click="sqlQuestion()">SQL</button>
				<button type="button" class="list-group-item list-group-item-info qbank-button" ng-click="sasQuestion()">SAS</button>
				<!-- <button type="button" class="btn btn-primary btn-sm" ng-click="">Enter 3</button>
				<button type="button" class="btn btn-primary btn-sm" ng-click="">Enter 4</button> -->
			</div>
		</div>		
		<div class="col-sm-10 text-left">						
			<div class="container">
				<div class="panel-group">
					<div ng-repeat-start ="question in questions">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h4 class="panel-title">
									 <div class="col-sm-11"> {{ question.QuestTxt }}</div>
									 <button class="questpanelButton" ng-if="question.expanded" ng-click="question.expanded = false"><span class="glyphicon glyphicon-menu-up"></span></button>
              								<button class="questpanelButton" ng-if="!question.expanded" ng-click="question.expanded = true"><span class="glyphicon glyphicon-menu-down"></span></button></button>
								</h4>
							</div>						
						</div>							
					</div>
					<div class="panel-body" ng-if="question.expanded" ng-repeat-end="" style="background-color: #90EFBC">{{ question.AnswerTxt }}</div>	
				</div>
			</div>		
		</div>

	</div>
</div>
