<div class="container">
	<div class="row qbankdiv content" ng-controller="qbankCtrl">
		<div class="col-sm-2 sidenav">
			<button type="button" class="btn btn-primary " ng-click="rQuestion()">R</button>
			<button type="button" class="btn btn-primary btn-sm" ng-click="mlQuestion()">Machine Learning</button>
			<button type="button" class="btn btn-primary btn-sm" ng-click="tabQuestion()">Tableau</button>
			<button type="button" class="btn btn-primary btn-sm" ng-click="sqlQuestion()">SQL</button>
			<button type="button" class="btn btn-primary btn-sm" ng-click="sasQuestion()">SAS</button>			
			<!-- <button type="button" class="btn btn-primary btn-sm" ng-click="">Enter 3</button>
			<button type="button" class="btn btn-primary btn-sm" ng-click="">Enter 4</button> -->
		</div>
		<div class="col-sm-8 text-left">			
			<div ng-repeat="question in questions">	
				<div class="qbank-questiondiv"> 
					<div class="col-sm-11">{{ question.QuestTxt }}</div>
					<button class="qbankbutton" type = "button" ng-model="collapsed" ng-click="collapsed=!collapsed; changeVal(val)">{{ val }}</button>
				</div>
				<div class="qbank-answerdiv" ng-show="collapsed">{{ question.AnswerTxt }}</div>
				<!--<div class="container">
					<div class="panel-group">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h4 class="panel-title">
									 <div> {{ question.QuestTxt }} <button type = "button" ng-model="collapsed" ng-click="collapsed=!collapsed">Click-Here</button></div>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<div class="panel-body"><div ng-show="collapsed">{{ question.AnswerTxt }}</div></div>
							</div>
						</div>
					</div>
				</div>-->
			</div>		
		</div>

	</div>
</div>
